<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
   <div class="w-full h-full p-10 bg-zinc-800">
    <a class="text-blue-400 text-3xl" href="/">Back to Home</a>
    <h1 class="text-3xl font-bold text-white mb-3 mt-5">All User</h1>
    <div class="users flex gap-3 flex-wrap">

        <% if(users.length > 0) { %>
        <% users.forEach(function(user) { %>
                   <div class="user bg-zinc-700 w-72 p-4 rounded-lg">
            <div class="w-full h-72 bg-blue-600 rounded-lg overflow-hidden">
                <img class="w-full h-full object-cover object-top" src="<%= user.image %>" alt="">
            </div>
            <h3 class="text-3xl text-white mt-3 font-bold tracking-tighter"><%= user.name %></h3>
            <h3 class="text-zinc-500 text-1xl"><%= user.email %></h3>
            <div class="mt-10 flex gap-3">
                <a class="text-yellow-900 px-2 py-1 rounded-md bg-yellow-600" href="/edit/<%= user._id %>">edit user</a>
                <a class="text-white px-2 py-1 rounded-md bg-black" href="/delete/<%= user._id %>">delete user</a>
            </div>

        </div>

        <% }) %>
        <% } else { %>
            <h1 class="text-2xl text-white">No users found</h1>
        <% } %> 


    </div>
        </div>
</body>
</html>